# Primary Key

There are 4 tables, Sales, Customers, Items and Companies.

Sales:

Purchase_number      |Date_of_purchase      |Customer_id      |Item_code
---                  |---                   |---              |---
1                    |03/09/2016            |1                |A_1
2                    |02/12/2016            |2                |C_1
3                    |15/04/2017            |3                |D_1
4                    |24/05/2017            |1                |B_2
5                    |25/05/2017            |4                |B_2
6                    |06/06/2017            |2                |B_1
7                    |10/06/2017            |4                |A_2
8                    |13/06/2017            |3                |C_1
9                    |20/07/2017            |1                |A_1
10                   |11/08/2017            |2                |B_1

Customers:

Customer_id      |First_name    |Last_name    |Email_address                       |Number_of_complaints
---              |---           |---          |---                                 |---
1                |John          |McKinley     |john.mackinley@365careers.com       |0
2                |Elizabeth     |McFarlane    |e.mcfarlane@365careers.com          |2
3                |Kevin         |Lawrence     |kevin.lawrence@365careers.com       |1
4                |Catherine     |Winnfield    |c.winnfield@365careers.com          |0

Items:

Item_code     |Item          |Unit_price   |Company_id  |Company   |Headquarters_phone_number
---           |---           |---          |---         |---       |---
A_1           |Lamp          |20           |1           |Company A |+1(202)555-0169
A_2           |Desk          |250          |1           |Company A |+1(202)555-0169
B_1           |Lamp          |30           |2           |Company B |+1(202)555-0152
B_2           |Desk          |350          |2           |Company B |+1(202)555-0152
C_1           |Chair         |150          |3           |Company C |+1(229)853-9913
D_1           |Loudspeakers  |400          |4           |Company D |+1(618)369-7392

Companies:

Company     |Headquarters_phone_number       |Company_id
---         |---                             |---
Company A   |+1(202)555-0169                 |1
Company B   |+1(202)555-0152                 |2
Company C   |+1(229)853-9913                 |3
Company D   |+1(618)369-7392                 |4

___

These tables have a tabular shape, a relational schema can be applied to represent them.

We care about the sales per customer of the company and that's why we have a Sales table, it tell us the number with which each purchase was registered, the date of the purchase, the respect of customer id and the item code.

So in this table the dates of a few purchases may coincide because it is normal to sale of the same goods in the same day, in logically in the Customer_id may appear a few times given that some customers make more than one purchase, people may have bought many units of the same product, hence there is a possibility to see the same item code a few times in the Item_code.

These reasoning doesn't apply to the Purchase_number, each Purchase_number is unique, in databases this means all the numbers in this column will be different because each purchase will be assigned a specific number that is unique, there is a term for such type of field, a column or a set of columns whose value exists and is unique for every record in a table is called a primary key.

Each table can have one and only one primary key, in one table it can not have three or four primary keys, for instance in the Sales table Purchase_number can act as a single column primary key and there will be no other primary keys.

If the database creators decide the primary key of a table may be composed of a set of columns not just one column, in the Sales table, both Purchase_number and Date_of_purchase can be thought of as a unique indentifier pair of the data in this table, for instance Purchase_number 1 and Date_of_purchase 03/09/2016 will form a unique pair and so will Purchase_number 2 and the same Date_of_purchase 03/09/2016, these means the two rows are different.

Don't overlook the fact you cannot have a combination of the same purchase number 1 and the same date, 03/09/2016 more than once in the table, either the table or the date must be different, this is because as we already said a primary key must be unique.

Both ways of representation makes sense since having a one column primary key here would mean all purchases in the database will be recorded under a different number, this means they can go from 1 to hopefully a million or two, this logic will preserve the uniqueness of the puchases.

So in the Sales table, it will proceed with Purchase_number as a single column primary key.

Therefore you can think of a primary key as the field or group of fields that identifies the content of a table in a unique way, for this reason the primary keys are also called the unique identifiers of a table.

Another crucial feature of primary keys is they cannot contain null values, this means in the example with a single column primary key there must always be a value inserted in rows under this column, it can not leave it blank.

Not all tables you work with will have their primary key, although all tables in any database will have a single column or a multi-column primary key.
___

To create a relational schema, we draw a table in the form of a rectangle and we place its name on top, then we enlist the fields vertically as opposed to their horizontal organization in a spreadsheet, the fields that is the primary key of the table is usually quoted on top of the other fields, what is more important it is always underlined, keeping these simple rules in mind when you spot this table you will immediately know it is called Sales, primary key is Purchase_number, other fields is Date_of_purchase, Customer_id and Item_code.

The term of representing a table with the help of such a rectangle and the names of the fields is called a relational schema, when you combine the relational schemas of the tables we have in a database, this give us a database schema, informally it is ok to call the representation of the entire database in plural relational schemas.

Sales|
---|
**Purchas_number**|
Date_of_purchase|
Customer_id|
Item_code|